html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-background-color:yellow;
    --secundary-background-color:black;
    --primary-text-color: yellow;
    --secundary-text-color:black;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/************************************* Header ***********************************************/

.header{
    background-color: var(--primary-background-color);
    width: 100%;
    height: 7vh;
    position: sticky;
    top: 0;
}

/********************************* Nav Toggle menu ******************************************/

.toggle-menu{
    background-color: var(--secundary-background-color);
    opacity: 0.8;
    z-index: 2;
    position: fixed; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 500ms ease-in-out;
    transform: translateX(-100%);
    visibility: hidden;
}

.toggle-menu ul li{
    list-style: none;
}

.toggle-menu ul li a{
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 2rem;
    display: block;
    width: 100vw;
    text-align: center;
    padding: 1.5rem 0;
}

.toggle-menu ul li a:hover{
    background-color: var(--primary-background-color);
    color: var(--secundary-text-color);
}

.active{
    transform: translateX(0%);
    visibility: visible;
}

/************************************** Main **************************************************/

.main .sections{
    width: 100%;
    height: 100vh;
    padding-top: 7vh;
    text-align: center;
}

.main .sections [id]{
    scroll-margin-top: 10vh;
    margin-bottom: 1em;
}

/************************************** Articles **************************************************/

.main .sections .articles{
    background-color: lightyellow;
    width: 90%;
    margin: 0 5%;
    padding: 1% 0.5%;
}

/* clock and reloj */

.main .sections .articles .articles-main #clock-alarm{
    margin: 0.5% auto;
    background-color: blue;
    width: 10px;
    height: 10px;
}

.main .sections .articles .articles-main .clock-alarm-btn input{
    padding: 0.5%;
    margin: 0.5% 0.2%;
    border-radius: 5px;
}

/********************************* Hamburger menu ******************************************/

.hamburger-menu{
    z-index: 3;
    position: fixed;
    background-color: var(--primary-background-color);
    width: 5%;
    height: 10%;
    right: 1rem;
    bottom: 1rem;
    border-radius: 50%;
}

.hamburger-menu span{
    background-color: var(--secundary-background-color);
    display: block;
    width: 50%;
    height: 10%;
    border-radius: 50px;
    transition: all 1s ease-in-out;
    margin: 2.5% 0;
}

.hamburger-menu.efect span{
    margin: -4.82% 0;
}

.hamburger-menu.efect span:nth-child(1){
    transform: rotate(-225deg);
}

.hamburger-menu.efect span:nth-child(2){
    opacity: 0;
}

.hamburger-menu.efect span:nth-child(3){
    transform: rotate(225deg);
}
